label{
	font-weight: 700;
	line-height: 1.5;
	font-size: 14px;
}

#topBarContainer{
	padding-top: 15px;
}

.loaderDiv {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99999;
	background: white;
	background: rgba(255,255,255,0.8);
}

.loaderImg {
	margin: 0 auto;
	position: absolute;
	top: 50%;
	margin-top: -199px;
	left: 0;
	right: 0;
	max-width: 100%;
} 

.innerDiv {
	border: 1px solid #ccc!important;
	padding: 10px;
	border-radius: 16px;
	margin-bottom: 20px;
	/* margin-right: 1.5%; */
	/* margin-left: 1.5%; */
}

.outerContainer{
	border: 1px solid #ccc!important;
	border-radius: 16px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 1.5%;
	padding-left: 1.5%;
	margin-bottom: 20px;
	margin-right: 0%;
	margin-left: 0%;
	margin-top: 20px;
}

.btnRefresh, .btnRefresh:focus, .btnRefresh:active {
	height: 40px!important;
	padding: 2px!important;
}

.btn_blue, .btn_blue:focus {
	background-color: #006699!important;
	color: #FFF!important;
	border: 1px solid #006699!important;
	font-size: 12px!important;
	border-radius: 11px;
	width: 100%;
	padding: 10px 10px;
	font-size: 12px!important;
	font-weight: bold;
	text-transform: uppercase;
	height: 37px;
	color: #FFFFFF;
	box-shadow: 0px 0px 5px #888888;
	line-height: 16px;
}

.btn_blue:hover {
	background-color: #FFFFFF!important;
	color: #006699!important;
}

.divButtonContainer {
	margin-bottom: 15px;
}

#waterLevelGaugeCanvas {
	width: 100%;
	height: 100%;
	max-height: 200px;
}

#waterLevelGaugeText {
	/* position: absolute; */
	/* top: 65px; */
	margin-top: -40px;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	color: black;
	font-family: 'Amaranth', sans-serif;
}

.statusPill {
	padding: 6px;
}
.statusPillSmall {
	padding-left: 10px;
	padding-right: 10px;
}



.side-by-side {
	
}

.text {
	font-weight: 600;
	font-size: 19px;
}

.reading {
	position: relative;
	font-weight: 300;
	font-size: 30px;
	padding-right: 25px!important;
}

.temperature .reading {
	color: #F29C1F;
}

.humidity .reading {
	color: #3B97D3;
}

.pressure .reading {
	color: #26B99A;
}

.altitude .reading {
	color: #955BA5;
}

.psuTemperature .reading {
	color: #FF3C33;
}

.superscript {
	font-size: 17px;
	font-weight: 600;
	position: absolute;
	top: 15px;
}
